name: CI

on:
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  CI:
    name: CI
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - name: Run actions/checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Run oven-sh/setup-bun
        uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76 # v2
      - name: Run bun install
        run: bun install --no-save
      - name: Run bun lint
        run: bun lint
