name: CI

on:
  pull_request:
  workflow_dispatch:

jobs:
  CI:
    name: CI
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v1
      - name: Run bun install
        run: bun install --no-save
      - name: Run bun lint
        run: bun lint
