name: CI

on:
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  CI:
    name: CI
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - name: Run actions/checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Run oven-sh/setup-bun
        uses: oven-sh/setup-bun@3d267786b128fe76c2f16a390aa2448b815359f3 # v2
      - name: Setup safe-chain
        run: |
          bun install -g @aikidosec/safe-chain
          safe-chain setup-ci
      - name: Run bun install
        run: bun install --no-save
      - name: Run bun lint
        run: bun lint
